<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eattendance.main"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.eattendance.main.SplashScreeActivity"
            android:label="@string/app_name"

            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.eattendance.main.MainActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.eattendance.admin.AdminPasswordActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.eattendance.admin.AdminScreenActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.eattendance.admin.ChangeAdminPinActivty"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.eattendance.admin.StudentRegistrationActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.eattendance.login.LoginActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.eattendance.main.HomeScreenActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.eattendance.attendance.AttendanceActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.eattendance.register.RegistrationActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.eattendance.absentstudent.AbsentStudentActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.eattendance.staff.StaffHomeScreenActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.eattendance.attendance.AttendanceReportActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>
